// font-family: 'Changa', sans-serif;
// font-family: 'Coustard', serif;

$changaFont: 'Changa', sans-serif;
$coustardFont: 'Coustard', serif;

$textSize: 14px;
$yearSize: 20px;
$titleSize: 22px;

$black: #3A3A3A;
$gray: #8B8B8B;
$lightGray: #B7B7B7;
$almostWhite: #E3E3E3;
$purple: #6A4094;
$blue: #3880D6;
$yellow: #F58D13;
$lightYellow: #EFAF4F;
$green: #73A66E;
$red: #EF5330;
$pink: #DF69DB;
$cyan: #38BFD1;